<h1>All products</h1>

<form action='/search' method='get' class="form-search">
  <table>
    <tr>
    <td style="padding-right: 50px;">
  <div class="input-append">
  	<input type="text" name="search" placeholder="find something you like..." style="width:600px; border-radius:10px">
  	<input type="submit" name="commit" value="Search" class="btn btn-primary">
  </div>
      </td>
      <td>
        <div class="search_category">
          <select name="category">
            <option value="0">All products</option>
            <%= options_for_select(@categories) %>
          </select>
        </div>
      </td>
      </tr>
    <tr>
      <td>
        &nbsp;<label class="radio inline"><input type="radio" name="sort" value="time" checked> By time</label>
        &nbsp;&nbsp;<label class="radio inline"><input type="radio" name="sort" value="price"> By price</label>
      </td>
    </tr>
  </table>
</form>


<%= will_paginate  %>
<table class="products">
  <%= render @products %>
</table>

